.d-flex.flex-column.flex-grow-1.sidebar-inner
  / Dashboard Links
  ul.nav.flex-column.mb-auto
    - if current_user&.admin?
      / Admin Section
      .sidebar-label Management

      li.nav-item
        = link_to admin_dashboard_path, class: "sidebar-link #{'active' if controller_name == 'dashboard' && action_name == 'admin'}" do
          i.bi.bi-grid-1x2-fill
          span Dashboard

      li.nav-item
        = link_to users_path, class: "sidebar-link #{'active' if controller_name == 'users'}" do
          i.bi.bi-people-fill
          span Users List

      li.nav-item
        = link_to projects_path, class: "sidebar-link #{'active' if controller_name == 'projects'}" do
          i.bi.bi-kanban-fill
          span Projects

      li.nav-item
        = link_to dashboards_index_path, class: "sidebar-link #{'active' if controller_name == 'dashboards'}" do
          i.bi.bi-graph-up-arrow
          span Test Analytics

      li.nav-item
        = link_to project_histories_path, class: "sidebar-link #{'active' if controller_name == 'project_histories'}" do
          i.bi.bi-clock-history
          span Project History

      li.nav-item
        = link_to edit_app_configuration_path, class: "sidebar-link #{'active' if controller_name == 'app_configurations'}" do
          i.bi.bi-gear-fill
          span Settings

      .sidebar-divider

      / Quick Actions for Admin
      .sidebar-label Actions

      li.nav-item
        = link_to new_user_path, class: "sidebar-link" do
          i.bi.bi-person-plus-fill
          span New User

      li.nav-item
        = link_to new_project_path, class: "sidebar-link" do
          i.bi.bi-folder-plus
          span New Project

    - else
      / User Section
      .sidebar-label Workspace

      li.nav-item
        = link_to projects_path, class: "sidebar-link #{'active' if controller_name == 'projects'}" do
          i.bi.bi-folder2-open
          span Projects

      li.nav-item
        = link_to dashboards_index_path, class: "sidebar-link #{'active' if controller_name == 'dashboards'}" do
          i.bi.bi-graph-up-arrow
          span Test Analytics

      li.nav-item
        = link_to tasks_path, class: "sidebar-link #{'active' if controller_name == 'tasks'}" do
          i.bi.bi-list-ul
          span Tasks
